@import './base/base-dir';
@import './layout/layout-dir';


// général (html, body, input, btn, media queries)
.body {
    width: 100%;
    background-image: url("../webroot/assets/img/home/background-home-desktop.jpg");
    background-size: cover;
    color: #fff;
}